h1 {
	color: orangered;
	text-outline: black;
	font-size: xx-large;
	font-family: Bahnschrift;
}

p {
	font-family: Calibri;

}

img {
	height: 300px;
	width: auto;
}

.center {
	width: 100%;
	margin: auto;
	text-align: center;
}

.centerLeft {
	text-align: left;
	margin-left: 30em;
}

body {
	color: orangered;
	text-outline: black;
	background-image: url("https://cdn.shopify.com/s/files/1/0761/6607/products/mini-reeses-pieces.jpg?v=1477665181");
	background-size: contain;
}

.imageTwo{
	height: 250px;
	width: auto;
}